<header>
    <nav class="navbar navbar-light col-md-10 mx-auto navbar-expand-lg px-5">
        <a class="navbar-brand pr-5" href="/panel">
            <img src="{{ asset('assets/img/logo.png') }}" alt="">
        </a>

        <div class="dropdown ml-auto">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {{ app.user.username }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% if is_granted('ROLE_USER') %}
                    <a class="dropdown-item" href="{{ path('profile_settings') }}">
                        <span class="fa fa-user"></span> Profile
                    </a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="dropdown-item" href="/admin/site-setting/banner">
                        <span class="fa fa-sliders-h"></span> Banner
                    </a>
                    <a class="dropdown-item" href="/admin/features">
                        <span class="fa fa-rocket"></span> Features
                    </a>
                    <a class="dropdown-item" href="/admin/site-setting/privacy">
                        <span class="fa fa-user-secret"></span> Privacy
                    </a>
                {% endif %}
                <a class="dropdown-item" href="/logout"><span class="fa fa-sign-out-alt"></span> Çıkış Yap</a>
            </div>
        </div>
    </nav>
</header>