{% set current_path = app.request.get('_route') %}
<div class="sidebar" data-color="yellow">
    <div class="logo">
        <a href="/panel" class="simple-text text-center logo-normal">
            <img src="{{ asset('assets/img/logo.png') }}" alt="haci">
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li{% if current_path=='profile_settings'%} class="active" {% endif %}>
                <a href="{{ path('profile_settings') }}">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li{% if current_path=='user_url_stats'%} class="active" {% endif %}>
                <a href="{{ path('user_url_stats') }}">
                    <i class="now-ui-icons business_chart-pie-36"></i>
                    <p>Your Urls Stats</p>
                </a>
            </li>
        </ul>
    </div>
</div>