{% extends 'panel/base2.html.twig' %}

{% block sidebar %}
    {% include 'panel/inc/sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                    <h5 class="title">Terms Of Use Edit</h5>
                </div>
                {{ form_start(form) }}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 pr-1">
                            {{ form_row(form.shortener_form) }}
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-fill btn-primary">Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}